/* ---------------------- Home page csss -------------------------------- */
.homeMainDiv{
  height: 100vh;
  margin-top: 100px !important;
}
@media (max-width:991px) {
  .homeMainDiv{
    margin-top: 150px !important;
  }
}

/* ---------------------- start pagination csss -------------------------------- */
.paginationAlignment{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.pagination-btn {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* ---------------------- end pagination csss -------------------------------- */

/* -------------------------------- */
