/* ---------------------- Home page csss -------------------------------- */
.homeMainDiv{
  height: 100vh;
  margin-top: 100px !important;
}
@media (max-width:991px) {
  .homeMainDiv{
    margin-top: 150px !important;
  }
}
/* ----------- wishlistBadges---------- */
/* .wishListBadgesPosition{
  position: relative;
  
} */

.wishlistBadges{
   /* background-color: rgb(155, 155, 155);  */
  padding: 2px 5px;
  border-radius: 50%;
  position: relative;
  top: -5px;
  right: 5px;
  /* top: -10px; 
  right: -10px;  */
  /* background-color: orange;
  color: white;
  border-radius: 50%;
  width: 25px; 
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem; */
}

/* ---------------------- start pagination csss -------------------------------- */
.paginationAlignment{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.pagination-btn {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* ---------------------- end pagination csss -------------------------------- */

/* -------------------------------- */
