/* ---------------------- start navber csss -------------------------------- */
/* ---------------------search ber ------------------- */
.searchBer input{
 height: 25px;
 width: 250px;
 border-radius: 5px;
 border: .5px solid gray;
}
.searchBer input:focus{
 outline: none;
}

/* --------------------------- */

/* ---------------------- start pagination csss -------------------------------- */
.paginationAlignment{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.pagination-btn {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* ---------------------- end pagination csss -------------------------------- */

/* ---------------------- start wishlist csss -------------------------------- */
#wishlist-container {
  margin: 20px 0;
}

.book {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.remove-from-wishlist-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
/* ---------------------- end wishlist csss -------------------------------- */

/* -------------------------------- */
.searchBer {
  position: relative;
  display: inline-block;
}

#search-input {
  padding: 8px;
  font-size: 16px;
}

#close-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: red;
  cursor: pointer;
}

#close-btn:hover {
  color: darkred;
}
